*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins';
}

a{
    text-decoration: none;
    color: black;
}


main{
    width: 100%;
    height: 100vh;
}

header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    background-color: #FAFAFA;
}

nav{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}


.logo{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.logo a{
    font-size: 18px;
    font-family: 'Rock Salt';
}

.social-md-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50px;
    height: 180px;
    background-color: #EDF4FB;
    border-radius: 0px 20px 0px 0px;
    position: fixed;
    left: 0px;
    bottom: 0;
}

.social-md-container img{
    width: 22px;
}


.cta-button-container{
    position: absolute;
    width: 300px;
    height: 3rem ;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    background: #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 0 0 0 ;
}

.cta-button-container a{
    color: white;
    font-size: 1.2 rem;
    font-weight: bold;
    text-transform: capitalize;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 35px;
    right: 60px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  /*Section Container*/

  .container{
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .phrases{
      width: 80%;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .phrases h3{
    font-style: normal;
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 120%;
    color: #000000;
  }

  /*Footer Configs*/

  footer{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90%;
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;
text-transform: capitalize;

  }
